body {
  background: #0f4c1d;
}

ul {
  background-color: #333;
}

li a {
  color: #fff ;
}

li a:hover {
  background-color: rgba(32, 166, 65, .5);
  color: #fff;
}

.search-container button {
  background: #fff;
}

.search-container button:hover {
  background: #0f4c1d;
  color: #fff;
}

.mode-switch button{
  background: #333;
  color: #fff;
}

.mode-switch button:hover {
  background: #0f4c1d;
  color: #fff;
}

.header {
  background-color: #08280e;
}

.active {
  background-color: #0f4c1d;
}

.active a {
  color: #fff;
}

.container {
  color: #fff;
  background-color: rgba(8, 40, 14, 0.9);
}

.image-container {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .6);
}

.image-container img {
  border: 1px solid white;
}

.about a:hover {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  border: 3px solid #fff;
}

.buttons button {
  border: 1px solid #fff;
  background-color: #fff;
  color: #bbb;
}

.buttons button:hover {
  color: #0f4c1d;
  box-shadow: 0 0 16px 10px rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}

#buildings a, #search-buildings a {
  color: #fff;
}

#buildings tr:nth-child(even), #search-buildings tr:nth-child(even) {
  background-color: rgba(255, 255, 255, .2);
}

#buildings td:hover, #buildings td:hover a, #search-buildings td:hover, #search-buildings td:hover a {
  background-color: #fff;
  color: #000;
}

#buildings th, #search-buildings th {
  border-bottom: 3px solid white;
}

#index-div button {
  background-color: #fff;
  color: #000;
}

#index-div button:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

#index-div button:hover a {
  color: #fff;
}

#index-div a {
  color: #000;
}
