body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  font-size: 1.3em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 1.1em;
}

input[type=text]:focus {
  outline: none;
}

@media screen and (max-width: 850px) {
  ul li {float: none;}
  .search-container {text-align: center;}

  .dual-column {display:flex;  flex-direction: column-reverse;}
  .left-column {width: 95%; margin: 0 auto;}
  .right-column {width: 95%; margin: 0 auto;}
  .single-column {width: 95%; margin: 0 auto;}

  .image-container img {width: 85%;}
}

@media screen and (min-width: 850px) {
  ul li {float: left;}
  ul li:last-child {float:right; border: none;}

  .dual-column {display: flex;}
  .single-column {width: 83%; margin: 0 auto;}

  .left-column {width: 54%; margin-right: 2%;}
  .right-column {width: 27%;}

  ul {position: -webkit-sticky; position: sticky; top: 0;}

  .search-container button {float: right;}

  .image-container img {width: 47%;}

  #filter-div {position: -webkit-sticky; position: sticky; top: 72px;}

  #index-div {position: -webkit-sticky; position: sticky; top: 236px;}
}

.search-container button {
 padding: 7px 10px;
 margin-top: 8px;
 margin-right: 16px;
 margin-left: 2px;
 font-size: 1.2em;
 border: none;
 cursor: pointer;
}

.filter-container input {
  font-size: 1.2em;
  margin: 0;
  width: 85%;
}

.mode-switch button{
  padding: 7px 10px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 1px;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.header > a > img {
  width: 75px;
}

.header > div {
  color: #fff;
  font-size: 3em;
}

.dual-column, .single-column {
    justify-content: center;
}

.container {
  padding: 10px 20px 20px 20px;
  border: 1px solid white;
  margin-bottom: 15px;
}

.image-container {
  text-align: center;
  padding: 20px 0;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 4px;
}

.image-container img {
  height: 300px;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid white;
}

.right-column .container img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.about {
  text-align: center;
}

.about a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

#topimg {
  height: 300px;
  border-radius: 4px;
  border: 1px solid white;
}

#buildings, #search-buildings {
  width: 100%;
}

#buildings a, #search-buildings a {
  font-size: 1.3em;
}

#buildings th, #search-buildings th {
  text-align: left;
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

#buildings tr {
  scroll-margin-top: 5em;
}

#buildings td, #search-buildings td {
  padding-top: 5px;
  padding-left: 5px;
}

#index-div button {
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  height: 45px;
  width: 50px;
  font-size: 1.1em;
}

#index-div button:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

#index-div button:hover a {
  color: #fff;
}

#index-div a {
  color: #000;
}

#buildings.likes {
  border-collapse: collapse;
}

#buildings.likes td:nth-child(2) {
  border-left: 2px solid white;
  text-align: center;
}
