/* variables */
/* defaults */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.4em;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}
.header img {
  width: 75px;
}
.header div {
  font-size: 3em;
}
.header button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown {
  position: relative;
  z-index: 15;
}
.dropdown #pfp-img {
  color: #fff;
}
.dropdown #loginDrop a {
  font-size: 0.2em;
}

.dropdown-content {
  top: 80px;
  right: 0;
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.dropdown-content a {
  font-size: 0.5em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* password modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal input {
  padding: 6px;
  margin-top: 8px;
  font-size: 1.1em;
}
.modal .form {
  display: table;
  width: 100%;
}
.modal .row {
  display: table-row;
}
.modal .row > label {
  font-size: 1.3em;
  display: table-cell;
  width: 15%;
}
.modal .row > input {
  display: table-cell;
  box-sizing: border-box;
  width: 95%;
  margin-left: 20px;
  outline: none;
  border: none;
  border-top: 2px solid Transparent;
}
.modal .row > input:focus {
  border-top: none;
}
.modal .modal-header {
  padding: 2px 16px;
  text-align: center;
}
.modal .modal-body {
  padding: 2px 16px;
}
.modal .modal-footer {
  padding: 2px 16px;
}
.modal .modal-footer button {
  position: relative;
  bottom: 0;
  transition: bottom 150ms;
}
.modal .modal-footer button:hover {
  bottom: 5px;
}
.modal #close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal #close:hover, .modal #close:focus {
  color: #ff413d;
  text-decoration: none;
  cursor: pointer;
}

#user-error,
#pass-error {
  display: none;
  border: 1px solid #ff413d;
  background-color: rgba(255, 65, 61, 0.1);
  color: #ff413d;
  padding: 10px;
  margin-left: 20px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 850px) {
  .modal-content {
    width: 80%;
  }
}
@media screen and (min-width: 850px) {
  .modal-content {
    width: 40%;
  }
}
/* navigation bar */
ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 10px 7px 2px rgba(0, 0, 0, 0.3);
}
ul li {
  float: left;
  padding: 0 16px;
}
ul li a {
  display: block;
  position: relative;
  font-size: 1.3em;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
}
ul li a:hover {
  -webkit-text-stroke-width: 0.5px;
}
ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
ul li:nth-last-of-type(-n + 2) {
  float: right;
}
ul .active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 150ms ease-in, bottom 150ms ease-in;
}
ul .active a:hover::after {
  transform-origin: bottom;
  transform: scaleY(3);
}
ul button {
  padding: 7px 10px;
  margin-top: 8px;
  margin-left: 2px;
  border: none;
  background-color: Transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
ul .search-container button {
  margin-right: 16px;
  border-radius: 50%;
  font-size: 1.2em;
}
ul .search-container input[type=text] {
  padding: 5px 10px;
  margin-top: 8px;
  font-size: 1.1em;
  font-family: inherit;
  border-radius: 15px;
}
ul .search-container input[type=text]:focus {
  outline: none;
  border-radius: 15px;
}
ul .mode-switch button {
  font-size: 1.3em;
  border-radius: 15px;
}

@media screen and (max-width: 850px) {
  ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  ul li,
ul li:nth-last-of-type(-n + 2) {
    float: none;
  }
  ul li button,
ul li:nth-last-of-type(-n + 2) button {
    margin: 5px 0 0 0;
  }

  .search-container {
    text-align: center;
  }
}
@media screen and (min-width: 850px) {
  ul li {
    float: left;
  }

  ul li:last-child {
    float: right;
    border: none;
  }

  ul {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
  }

  .search-container button {
    float: right;
  }
}
/* body content */
.container {
  padding: 10px 20px 20px 20px;
  margin-bottom: 15px;
}

.image-container {
  text-align: center;
  padding: 20px 0;
  border-radius: 15px;
}
.image-container img,
.image-container #google-map {
  height: 300px;
  border-radius: 15px;
  margin: 10px;
  border: none;
}

.buttons {
  direction: rtl;
}
.buttons button {
  position: relative;
  bottom: 0;
  padding: 7px 15px;
  margin: 5px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.buttons button:hover {
  bottom: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dual-column,
.single-column {
  justify-content: center;
}

.right-column .container img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

@media screen and (max-width: 1635px) {
  .image-container img,
#google-map {
    width: 85%;
  }
}
@media screen and (min-width: 1635px) {
  .image-container img,
#google-map {
    width: 47%;
  }
}
@media screen and (max-width: 850px) {
  .dual-column {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-column {
    width: 95%;
    margin: 0 auto;
  }

  .right-column {
    width: 95%;
    margin: 0 auto;
  }

  .single-column {
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 850px) {
  .dual-column {
    display: flex;
  }

  .single-column {
    width: 83%;
    margin: 0 auto;
  }

  .left-column {
    width: 54%;
    margin-right: 2%;
  }

  .right-column {
    width: 27%;
  }
}
/* home page */
#topbuilding {
  position: relative;
  left: 0;
  transition: left 200ms ease-in-out;
  z-index: 1;
}
#topbuilding:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  left: 15px;
}
#topbuilding h3,
#topbuilding p {
  margin: 0;
}
#topbuilding p {
  margin-bottom: 10px;
}
#topbuilding #topimg {
  height: 300px;
  border-radius: 4px;
}
#topbuilding #topname,
#topbuilding #toplikes,
#topbuilding #topbuilding,
#topbuilding #topimg {
  cursor: pointer;
}

/* list pages */
.table-title {
  position: relative;
  text-align: center;
}
.table-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  transform: scale(1, 2);
}

#buildings,
#search-buildings {
  width: 100%;
}
#buildings a,
#search-buildings a {
  font-size: 1.3em;
}
#buildings td,
#search-buildings td {
  padding-top: 5px;
  padding-left: 5px;
}
#buildings td a,
#search-buildings td a {
  position: relative;
  margin-bottom: 5px;
}
#buildings td a::after,
#search-buildings td a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
#buildings td a:hover::after,
#search-buildings td a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
#buildings th,
#search-buildings th {
  display: none;
}

#buildings tr {
  position: relative;
  z-index: 1;
  scroll-margin-top: 5em;
}
#buildings tr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 200ms ease-in;
}
#buildings tr:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}
#buildings.likes {
  border-collapse: collapse;
}
#buildings.likes td:nth-child(2) {
  text-align: center;
}

#index-div button {
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  height: 45px;
  width: 50px;
  font-size: 1.1em;
  z-index: 1;
}
#index-div button a {
  transition: color 200ms ease-in;
}
#index-div button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 200ms ease-in;
}
#index-div button:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

.filter-container input {
  box-sizing: border-box;
  font-size: 1.2em;
  margin: 0;
  width: 70%;
  border-radius: 15px;
  outline: none;
  padding: 5px 10px;
  font-size: 1.1em;
  font-family: inherit;
  border-radius: 15px;
}

@media screen and (min-width: 850px) {
  #filter-div {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }

  #index-div {
    position: -webkit-sticky;
    position: sticky;
    top: 260px;
  }
}
/* about page */
.about {
  text-align: center;
}
.about a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.about a:hover {
  box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, 0.3);
}

/* building page */
.fa-heart {
  -webkit-text-stroke-width: 2px;
}

.fa-times {
  color: #ff413d;
}

.fa-check {
  color: #22dd22;
}

.container.comments {
  border-radius: 4px;
}
.container.comments h1 {
  text-align: center;
  font-size: 2em;
}
.container.comments textarea {
  box-sizing: border-box;
  display: block;
  resize: none;
  width: 95%;
  margin: 20px auto;
  padding: 0.7em;
  font-size: 1.5em;
  font-family: inherit;
  outline: none;
}
.container.comments .upper {
  text-transform: capitalize;
}
.container.comments#comment-container {
  border: none;
  padding: 0;
}
.container.comments#comment-container h2 {
  position: relative;
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
.container.comments#comment-container h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  transform: scale(1, 2);
}
.container.comments#comment-container p {
  margin-top: 0;
  margin-bottom: 0.2em;
}
.container.comments #submit-button {
  margin: 0;
}
